extends layout

block content
  h1= title
  h2 available API calls
  h3 TDM
  p /tdm/overview/ returns mid-current grid with references to all subnets
  a(href="http://netzdatenstrom.imis.uni-luebeck.de:3000/tdm/overview")  http://netzdatenstrom.imis.uni-luebeck.de:3000/tdm/overview

  p /tdm/#ID returns the subnet with a given #ID
  a(href="http://netzdatenstrom.imis.uni-luebeck.de:3000/tdm/SNID1")  http://netzdatenstrom.imis.uni-luebeck.de:3000/tdm/SNID1

  h3 LZA
  p /lza/subnet will return the status of all subnets. Due to system architecture this requires a request for each subnet
  a(href="http://netzdatenstrom.imis.uni-luebeck.de:3000/lza/subnet")  http://netzdatenstrom.imis.uni-luebeck.de:3000/lza/subnet

  p /lza/subnet/past will return the status of all subnets, aggregated for the last 12 hours. Due to system architecture this requires a request for each subnet
  a(href="http://netzdatenstrom.imis.uni-luebeck.de:3000/lza/subnet/past")  http://netzdatenstrom.imis.uni-luebeck.de:3000/lza/subnet/past

  p /lza/subnet/:id will return the status of all nodes of a subnet
  a(href="http://netzdatenstrom.imis.uni-luebeck.de:3000/lza/subnet/SMGWID")  http://netzdatenstrom.imis.uni-luebeck.de:3000/lza/subnet/SMGWID

  p /lza/subnet/:id/past will return the status of all nodes of a subnet, aggregated for the last 12 hours
  a(href="http://netzdatenstrom.imis.uni-luebeck.de:3000/lza/subnet/SMGWID/past")  http://netzdatenstrom.imis.uni-luebeck.de:3000/lza/subnet/SMGWID/past

  p /lza/meter/:id/days will return values of a Smart-Meter for the last 24 hours
  a(href="http://netzdatenstrom.imis.uni-luebeck.de:3000/lza/meter/SMID/days")  http://netzdatenstrom.imis.uni-luebeck.de:3000/lza/meter/SMID/days

  p /lza/plausibility/meter/:id will return the status of all nodes of a subnet
  a(href="http://netzdatenstrom.imis.uni-luebeck.de:3000/lza/plausibility/meter/ID1")  http://netzdatenstrom.imis.uni-luebeck.de:3000/lza/plausibility/meter/ID1

  p /plausibility/subnet/:id returns the average of all plausibilitiers within a given subnet per algorithm
  a(href="http://netzdatenstrom.imis.uni-luebeck.de:3000/lza/plausibility/subnet/SNID1")  http://netzdatenstrom.imis.uni-luebeck.de:3000/lza/plausibility/subnet/SNID1

  p /plausibility/meter/:id/from/:from/to/:to returns plausibility for each algorithm for one SMGW in the given timespan which shoukd be 24h
  a(href="http://netzdatenstrom.imis.uni-luebeck.de:3000/lza/plausibility/meter/SMGWID/from/1343643433/to/1343943433")  http://netzdatenstrom.imis.uni-luebeck.de:3000/lza/plausibility/meter/SMGWID/from/1343643433/to/1343943433

  p /meter/:id/lastmonth/ returns Smartmeter values for last month with 1 hour resolution
  a(href="http://netzdatenstrom.imis.uni-luebeck.de:3000/lza/meter/SMGWID/lastmonth")  http://netzdatenstrom.imis.uni-luebeck.de:3000/lza/meter/SMGWID/lastmonth

  p /meter/:id/pastmonth/ returns Smartmeter values for two month one year ago with 1 hour resolution
  a(href="http://netzdatenstrom.imis.uni-luebeck.de:3000/lza/meter/SMGWID/pastmonth")  http://netzdatenstrom.imis.uni-luebeck.de:3000/lza/meter/SMGWID/pastmonth

  p  /weather/:location/ returns the weather data for the last 24 hours 30 Minute resolution
  a(href="http://netzdatenstrom.imis.uni-luebeck.de:3000/lza/weather/OLDENBURG")  http://netzdatenstrom.imis.uni-luebeck.de:3000/lza/weather/OLDENBURG

